include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
recursive-exclude tests *
recursive-exclude conftest.py *
recursive-exclude .github *
recursive-exclude demo_site *
recursive-exclude csp_reporting.egg-info *
recursive-exclude .venv *
recursive-exclude .git *
recursive-exclude __pycache__ *
recursive-exclude *.egg-info *
